{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hello</h2>
    <p>
      <b
      >You receicing this email because you requested a password reset for
      your account at {{ site_name }}.</b
      >
    </p>
    <br />
    <p>Please go to the url to choose a new password:</p>
    <p>{{ protocol }}://{{ domain }}:3000/password-reset-confirm/{{ uid }}/{{ token }}</p>
    <br />

    <p>Thanks for volunteering for {{ site_name }}</p>
  </body>
</html>